body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #DAEAF0;
}
.header-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.it-squarehub {
    color: #2766C5;
}
.header-text{
    color: black;
}
.it-squarehub, .header-text{
    margin-top: 20px;
}